<h1> WELCOME </h1>

<h2> Current user is <%= "#{@current_user.username}" unless @current_user.nil? %>
<br></br>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to "Sign Up", new_user_path %>

<%= link_to "Sign In", new_session_path %>

<%= link_to "Log Out", logout_path %>
